*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAF7EC;
}

.logo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 5vw;
    margin-top: 2vw;
    border: 2px black solid;
}


.nav {
    display: inline-block;
}
.nav-item {
    display: inline-block;
    margin-left: 20vw;
    border: 2px black solid;
}
.nav-item a {
    text-decoration: none;
    color: #96c11f;
    font-size: 2vw;
}



.name-header { grid-area: header; }
.name-hero { grid-area: hero; }
.name-time { grid-area: time; }
.name-social { grid-area: social; }
.name-img1 { grid-area: img1; }
.name-img2 { grid-area: img2; }
.name-tilmeld { grid-area: tilmeld; }
.name-footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'hero hero'
        'time social'
        'img1 img2'
        'tilmeld tilmeld'
        'footer footer';
}
.grid-container {
    margin: 20px 30px;
}
.menu {
    height: 20vh;
    border: solid black 3px ;
    background-color: #faf7ec;
}
.hero {
    height: 40vh;
    background-color: yellow;
}
.info-time {
    height: 30vh;
    background-color: blue;
}
.info-social {
    height: 30vh;
    background-color: green;
}
.img1 {
    height: 30vh;
    background-color: purple;
}
.img2 {
    height: 30vh;
    background-color: orange;
}
.tilmeld {
    height: 5vh;
    width: 8vw;
    transform: translateX(500%);
}
.footer {
    height: 20vh;
    background-color: teal;
}
