*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.logo {
    height: 130px;
    width: 130px;
    margin-left: 3vw;
    margin-top: 1.2vh;
    position: absolute;
}


.nav {
    position: relative;
    display: inline-block;
    margin-top: 7vh;
    margin-left: 20vw;
    padding: 0;
    width: 100%;
    font-size: 1.6vw;
    flex-wrap: wrap; 
    
    
}

.nav-item1 {
    display: inline-block;
    margin-left: 10vw;
    width: 16vw;
    text-align: center;
    background-color: #7dc200;
    padding: 1vh;
    border-radius: 25px;
}

.nav-item2 {
    display: inline-block;
    margin-left: 6vw;
    width: 16vw;
    text-align: center;
    padding: 1vh;
    background-color: #7dc200;
    border-radius: 25px;
    
    
}
.nav-item3 {
    display: inline-block;
    margin-left: 6vw;
    margin-right: 6vw;
    width: 16vw;
    text-align: center;
    background-color: #7dc200;  
    padding: 1vh; 
    border-radius: 25px;
}

.nav-item1 a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0.5px 0.5px black;
}

.nav-item2 a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0.5px 0.5px black;
}

.nav-item3 a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0.5px 0.5px black;  
}

.nav-item1 a:hover {
    color: rgb(0, 0, 0);
}
.nav-item2 a:hover {
    color: rgb(0, 0, 0);
}
.nav-item3 a:hover {
    color: rgb(0, 0, 0);
}
/*css grid naming*/
.name-header { grid-area: header; }
.name-hero { grid-area: hero; }
.name-time { grid-area: time; }
.name-social { grid-area: social; }
.name-img1 { grid-area: img1; }
.name-img2 { grid-area: img2; }
.name-tilmeld { grid-area: tilmeld; }
.name-footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'hero hero'
        'time social'
        'img1 img2'
        'tilmeld tilmeld'
        'footer footer';
}
.grid-container {
    margin: 20px 30px;
}
.menu {
    height: 20vh;
    background-color: #faf7ec;
}
.hero {
    height: 60vh;
    height: 50vh;
    background-color: yellow;
}
.info-time {
    height: 30vh;
    background-color: blue;
}
.info-social {
    height: 30vh;
    background-color: green;
}
.img1 {
    height: 30vh;
    background-color: purple;
}
.img2 {
    height: 30vh;
    background-color: orange;
}
.tilmeld {
    height: 5vh;
    width: 8vw;
    transform: translateX(500%);
}
.footer {
    height: 10vh;
    background-color: teal;
}
.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
h1 {
    width: 90vw;
    margin-left: 20px;
}
.hero p {
    width: 40vw;
    margin-left: 20px;
}
.tilbud {
    width: 450px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-30%);

.info-time, .info-social h3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
.info-time, .info-social p{
    font-size: 18px;
    text-align: center;
}